<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ htmlWebpackPlugin.options.title }}</title>
    <link href="https://cdn.bootcss.com/Swiper/4.1.6/css/swiper.min.css" rel="stylesheet">
    <style type="text/css">
        html {
            height: 100%;
            width: 100%;
        }

        body {
            height: 100%;
            padding: 0px;
            margin: 0px;
            background: #f3f3f3;
            overflow-x: hidden;
        }

        #app {
            height: 100%;
        }
    </style>
</head>
<body>
<div id="app">
    <router-view></router-view>
</div>

<script src="https://cdn.bootcss.com/vue/2.5.9/vue.js"></script>
<script src="https://cdn.bootcss.com/vuex/3.0.1/vuex.js"></script>
<script src="https://cdn.bootcss.com/Swiper/4.1.6/js/swiper.min.js"></script>
<!--<script src="https://cdn.bootcss.com/lodash.js/4.17.5/lodash.min.js"></script>-->
</body>
</html>